.page {
    width: 1280px;
    background: #000000;
}

@media screen and (max-width:1281px) {
    .page {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .page {
        width: 100%;
    }
}