.card__title {
    width: 246px;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}