.header {
    width: 880px;
    margin: auto;
    padding-top: 45px;
}

@media screen and (min-width: 320px) {
    .header {
        width: 320px;
        margin: auto;
    }

    .header__logo {
        width: 126px;
        margin: auto;
    }

    .header__line {
        width: 320px;
    }
}