.profile__info {
    width: 415px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

@media  screen and (max-width: 320px) {
    .profile__info {
        width: 282px;
        align-items: center;
        padding-top: 20px;
    }
}