.profile__about {
    width: 415px;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .profile__about {
        text-align: center;
        padding-top: 10px;
        font-size: 14px;
        font-style: normal;
    }
}